body {
  margin: 0;
  padding: 0px;
  text-align: center;
  background-image: url('./assets/smash-bg.png');
  background-size: cover;
}

h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  border-bottom: solid black;
  padding: 0 30px;
  height: 100px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  margin: 10px;
}

.main>img, .main>.magnifier>img {
  width: 100%;
  max-width: 1000px;
  margin-top: 100px;
  z-index: 0;
  box-shadow: 2px 2px 5px;
}

.mag-glass {
  border: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-size: auto;
  cursor: pointer;
}

.mag-glass:hover {
  transform: scale(1.2);
}

.info>button:hover {
  width: 55px;
  height: 55px;
}


